/* Estilos de la pagina en general */
.body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}

/* Estilos del contenedor de la cabecera */
.contenedorHeader {
    text-align: center;
}

/* Estilos del contenedor de la imagen principal */
.contenedorImagen {
    position: relative;
    display: inline;
}

/* Clase del logo */
.headerLogo {
    width: 200px;
    top: 15px;
    position: relative;
}

/* Contenedor de la botonera */
.contenedorBotonera {
    position: relative;
    display: inline-block;
}

/* Clase para definir los elementos de la botonera*/
.nav-item {
    display: inline;
    margin: 20px;
    font-weight: 700;
}

/* Agregar color al pasar con el mouse por arriba de la botonera*/
.nav-link:hover {
    color: red;
}

/* Estilos del contenedor del banner */
.contenedorBanner {
    margin-top: 20px;
}

/* Article del bienvenidos */
.bienvenidosAprysma {
    text-align: center;
    padding: 10px;
    margin: 20px;
    position: relative;
    font-size: 30px;
}

/* Estilos del banner */
.banner {
    width: 100%;
    height: 400px;
}

.subtitulo {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: cadetblue;
}

/* Estilos del contenedor principal */
.contenedorPrincipal {
    position: relative;
    width: 1024px;
    margin: auto;
}

/* Estilos del titulo de la pagina */
.colorConozcanos {
    color: cadetblue
}

/* Seccion de las imagenes e informacion */
.info {
    display: flex;
    flex-direction: row;
}

.infocard {
    color: white;
    background-color: cornflowerblue;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
}

/* Clase de la imagen*/

.infocard__imag {
    width: 260px;
}


/* Estilos del contacto */
/* Formulario*/


.form {

    width: 450px;
    margin: auto;
}

.form legend {
    font-weight: bold;
    font-size: 12px;
}

.form ol {
    list-style: none;
}

.form ol li {
    padding-bottom: 5px;
}

.form ol li label {
    width: 120px;
    float: left;
    text-align: left;
}

.form input[type=text] {
    border: 1px solid #CCCCCC;
}

.form input.btn {
    padding: 3px;
    color: #FFFFFF;
    background-color: #990000;
    border: 1px solid #000000;
}