/* Estilos de la pagina en general */
.body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}
/* Estilos del contenedor de la cabecera */
.contenedorHeader {
    text-align: center;
}

/* Clase del logo */
.headerLogo {
    width: 200px;
    top: 15px;
    position: relative;
}


/* Contenedor de la botonera */
.contenedorBotonera {
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.navbar__nav-link {
    color: cadetblue;

}

.navbar__nav-link {
    color: cadetblue;
}

/* Clase para definir los elementos de la botonera*/
.navbar__nav-item {
    display: inline;
    margin: 20px;
    font-weight: 700;
    color: cadetblue;
}

/* Agregar color al pasar con el mouse por arriba de la botonera*/
.navbar__nav-link:hover {
    color: red;
}

/* Estilos del contenedor de la imagen principal */
.contenedorImagen {
    position: relative;
    display: inline;
}

/* Estilos del contenedor del banner */
.banner {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    font-size: 1rem;
}

/* Estilos del banner */
.banner__contenedor {
    width: 100%;
    height: 400px;
}

/* Article del bienvenidos */
.bienvenidosAprysma {
    text-align: center;
    padding: 10px;
    margin: 20px;
    position: relative;
    font-size: 30px;
}

.subtitulo {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: cadetblue;
}

/* Estilos del contenedor principal */
.contenedor {
    position: relative;
    width: 1024px;
    margin: auto;
    text-align: center;
}

/* Estilos del titulo de la pagina */
.contenedor__titulo {
    color: cadetblue
}

/* Seccion de las imagenes e informacion */
.info {
    display: flex;
    flex-direction: row;
}

.info__infocard {
    color: white;
    background-color: cornflowerblue;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
}

/*Clase de productos*/
.info .info__infocard__imag {
    animation-duration: 3s;
    animation-name: slidein;
}
.info__infocard__desc{
    text-align: center;
}
.info__infocard__imag {
    width: 260px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Estilos del contacto */
/* Formulario*/
.form {
    width: 450px;
    margin: auto;
}

.form legend {
    font-weight: bold;
    font-size: 30px;
}

.form ol {
    list-style: none;
}

.form ol li {
    padding-bottom: 20px;
}

.form ol li label {
    width: 120px;
    float: left;
    text-align: left;
}

.form input[type=text] {
    border: 2px solid #CCCCCC;
}

.btnFormContainer {
    height: 40px;
    text-align: center;
}

.btn {
    padding: 15px;
    background-color: #dddddd;
    border: 3px solid #eeeeee;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #990000;
    border: 3px solid #000000;
}

/* Estilos pagina Servicios */
.contenedorGrid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    text-align-last: auto;
    margin-inline: 3px;
    padding-top: 3px;
}

.contenedorItemServicios {
    width: 100%;
    margin-bottom: 10px;
    border: 5px dotted skyblue;
    border-radius: 10px;
}

.gridItemServicios {
    height: 130px;
    /*  background-color: skyblue;*/
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-inline: 10px;
    padding-top: 10px;
}

.imagenServicioContenedor {
    display: inline-block;
}

/* fin pagina */
/* comienzo media queries responsive*/

@media (min-width:768px) and (max-width:1024px) {
    .body {
        background-color: beige;
        grid-template-columns: 100%;
    }

    .banner__contenedor {
        width: 100%;
    }

    .logoNavbar {
        max-width: 100%;
        max-height: 100%;
    }

    .info {
        margin: 10px;
        padding: 10px;
    }

    .contenedor {
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    .info__infocard__imag {
        width: 100%;
    }

    /* Pagina servicios mobile first responsive*/
    .gridItemServicios {
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 50%;
        height: auto;
        float: none;
        display: inline-block;
    }

    .imagenServicio {
        margin: 5px;
        text-align: center;
    }
}

/* Media queries min-width 768 */
@media (min-width:768px) {
    .banner__contenedor {
        min-width: 40px;
    }

    .contenedorItemServicios {
        margin-top: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .imagenServicioContenedor {
        width: 35%;

    }

    .imgServicio {
        width: 80%;
    }

    .contenedorImagenLogo {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .img-fluid {
        width: 600px;
        height: 100px;
    }

    .navbar-toggler {
        margin: 40px;
    }
}

/* Pagina servicios-movile first responsive*/
#Grid {
    /*background: linear-gradient(45deg, red, blue);*/
    width: 60%;
    margin: auto;
    text-align: center;
}

@media (min-width:320px) and (max-width:768px) {
    .body {
        background-color: blue;
        grid-template-columns: 100%;
        color: black;
    }

    .navbar {
        /*flex-wrap: nowrap;*/
        flex-direction: initial;
    }
    
    .navbar__nav-item {
        /*width: 10px;*/
        margin: 0;
    }
    
    .bienvenidosAprysma {
        margin: 0%;
        padding: 0%;
    }
    
    .banner {
        margin-top: 20px;
    }

    .banner__contenedor {
        width: 100%;
    }
    
    h1 {
        font-size: 18px;
    }

    .contenedor {
        width: 100%;
    }

    .contenedor__titulo {
        margin-left: 10px;
        text-align: center;
    }

    .info {
        display: grid;
    }

    .info__infocard {
        padding: 10px;
        margin: 10px;
    }

    /* Pagina servicios-movile first responsive*/
    #Grid {
        background: linear-gradient(45deg, beige, blue);
        width: 100%;
    }

    .gridItemServicios {
        height: auto;
        display: block;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;

    }

    .imagenServicio {
        margin-top: 5px;
        text-align: center;
    }

    /* Pagina contacto-mobile first responsive*/
    .form {
        width: auto;
        font-size: small;
    }

    .form legend {
        font-size: 15px;
    }
}

/* Estilos mobile first responsive */
@media (max-width:320px) {
    .body {
        background-color: white;
    }

    .banner__contenedor {
        min-width: 20px;
    }

    .contenedor__titulo {
        color: #000000;
    }
}

@media (min-width:1024px) {
    .logoNavbar {
        max-width: 200px;
        max-height: 40px;
    }
}
