/* Article del bienvenidos */
.bienvenidosAprysma {
    text-align: center;
    padding: 10px;
    margin: 20px;
    position: relative;
    font-size: 30px; }
  
  .subtitulo {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: cadetblue; }
  
  /* Estilos del contenedor principal */
  .contenedor {
    position: relative;
    width: 1024px;
    margin: auto;
    text-align: center; }
  
  /* Estilos del titulo de la pagina */
  .contenedor__titulo {
    color: cadetblue; }
  
  /* Seccion de las imagenes e informacion */
  .info {
    display: flex;
    flex-direction: row; }
  
  .info__infocard {
    color: white;
    background-color: cornflowerblue;
    padding: 30px;
    margin: 10px;
    border-radius: 20px; }
  
  /*Clase de productos*/
  .info .info__infocard__imag {
    animation-duration: 3s;
    animation-name: slidein; }
  
  .info__infocard__desc {
    text-align: center; }
  
  .info__infocard__imag {
    width: 260px; }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 100%; } }