/* comienzo media queries responsive*/
@media (min-width: 768px) and (max-width: 1024px) {
    .body {
      background-color: beige;
      grid-template-columns: 100%; }
    .banner__contenedor {
      width: 100%; }
    .logoNavbar {
      max-width: 100%;
      max-height: 100%; }
    .info {
      margin: 10px;
      padding: 10px; }
    .contenedor {
      width: 100%;
      margin: 10px;
      text-align: center; }
    .info__infocard__imag {
      width: 100%; }
    /* Pagina servicios mobile first responsive*/
    .gridItemServicios {
      margin: 10px;
      padding: 10px;
      text-align: center;
      width: 50%;
      height: auto;
      float: none;
      display: inline-block; }
    .imagenServicio {
      margin: 5px;
      text-align: center; } }
  
  /* Media queries min-width 768 */
  @media (min-width: 768px) {
    .banner__contenedor {
      min-width: 40px; }
    .contenedorItemServicios {
      margin-top: 5px;
      padding: 5px;
      margin-bottom: 10px; }
    .imagenServicioContenedor {
      width: 35%; }
    .imgServicio {
      width: 80%; }
    .contenedorImagenLogo {
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .img-fluid {
      width: 600px;
      height: 100px; }
    .navbar-toggler {
      margin: 40px; } }
  
  /* Pagina servicios-movile first responsive*/
  #Grid {
    /*background: linear-gradient(45deg, red, blue);*/
    width: 60%;
    margin: auto;
    text-align: center; }
  
  @media (min-width: 320px) and (max-width: 768px) {
    .body {
      background-color: blue;
      grid-template-columns: 100%;
      color: black; }
    .navbar {
      /*flex-wrap: nowrap;*/
      flex-direction: initial; }
    .bienvenidosAprysma {
      margin: 0%;
      padding: 0%; }
    .navbar__nav-item {
      /*width: 10px;*/
      margin: 0; }
    .banner {
      margin-top: 20px; }
    .banner__contenedor {
      width: 100%; }
    h1 {
      font-size: 18px; }
    .contenedor {
      width: 100%; }
    .contenedor__titulo {
      margin-left: 10px;
      text-align: center; }
    .info {
      display: grid; }
    .info__infocard {
      padding: 10px;
      margin: 10px; }
    /* Pagina servicios-movile first responsive*/
    #Grid {
      background: linear-gradient(45deg, beige, blue);
      width: 100%; }
    .gridItemServicios {
      height: auto;
      display: block;
      text-align: center;
      margin-top: 20px;
      padding-bottom: 20px; }
    .imagenServicio {
      margin-top: 5px;
      text-align: center; }
    /* Pagina contacto-mobile first responsive*/
    .form {
      width: auto;
      font-size: small; }
    .form legend {
      font-size: 15px; } }
  
  /* Estilos mobile first responsive */
  @media (max-width: 320px) {
    .body {
      background-color: white; }
    .banner__contenedor {
      min-width: 20px; }
    .contenedor__titulo {
      color: #000000; } }
  
  @media (min-width: 1024px) {
    .logoNavbar {
      max-width: 200px;
      max-height: 40px; } }